.page-footer{
    display: none;
}

#section-resume-experience, .title-text, #publications-section, #awards{
    padding-bottom:0px !important;
    padding-top:0px !important;
}
#pubs-title, #experience-section{
    margin-bottom: 0px !important;
}
#experience-section{
  padding-top: 10px;
  padding-bottom: 0px !important;
}
.my-publications{
    /* display: flex; */
    flex-direction: row;

    /* make width body width */
    width: 100%;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.my-publications .card{
    padding: 20px;
    border-radius: 5px;
    /* clickable  */
    cursor: pointer;
}
.my-publications .card p{
    font-size: 1rem;
}

.my-publications .card h5{
    font-size: 1.5rem;
    font-weight: bold;
    color: #6ee7b7;
}

/* thumbnail of paper */
.my-publications .card img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    /* crop */
    object-position: top;
}

.my-publications a{
    text-decoration: none;
}
.my-publications p:hover, .my-publications card:hover p{
    color:white;
}
/* hover effect for card */
/* add z axis and shadow */
.my-publications .card:hover img{
    transform: scale(1.05);
    transition: transform 0.5s;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* resize when end of hover */
.my-publications .card img{
    transition: transform 0.5s;
}

/* draw a underline over the h5 when hovering over the card */
/* draw it over 0.5s */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #6ee7b7;
  }
  
.hover-underline-animation::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 5px;
bottom: 0;
left: 0;
background-color: #6ee7b761;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.my-publications .card:hover .hover-underline-animation::after {
transform: scaleX(1);
transform-origin: bottom left;
}
  


/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: black;
    text-decoration: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  